<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/estilos.css') }}">
</head>

<body>
    <header>
        <div id="logo"><img src="https://picsum.photos/100" alt="logo"></div>
        <div class="header">TEXTO</div>
    </header>
    <nav>
        <ul>
            <li><a href="/">Inicio</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/services">Services</a></li>
            <li><a href="/contact">Contact</a></li>
        </ul>
    </nav>
    <main>
        <h1>SERVICES</h1>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic corrupti consequatur quae sequi eos eveniet reiciendis voluptatem qui soluta sunt, repellendus consequuntur iste minima, velit, facilis iure. Veniam, vero modi eligendi assumenda ipsam accusamus, delectus incidunt omnis aliquid quos corrupti. Officia sapiente mollitia alias est minima! Ea tenetur, explicabo quasi deleniti odio nemo culpa. Sit exercitationem incidunt laudantium veritatis consequuntur laborum vel, a alias eaque minima accusamus ducimus rerum. Assumenda provident reiciendis minus, numquam voluptatibus hic excepturi sequi, placeat itaque ullam magni quo aperiam, harum laborum quasi molestiae sunt a. Vitae ullam molestias libero, ipsa aperiam dignissimos quasi quas. Cumque.
    </main>
    <footer></footer>
    
    
</body>

</html>